*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #E3E6F3,#088178);
}


.input-field{
    width: 40vw;
    max-width: 500px;
    background-color: white;
    border-radius: 40px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Home page  */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
}

h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0px 20px 0;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}

/* header */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 20px 80px;
    background: #F7F7F7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
      color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.logo{
    height: 40px;
}


/* home page */
#hero{
    background-image: url(./assets/hero-final.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0%;
    background-size: cover;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;

}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url(./img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* feature section */

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);

}
#feature .fe-box h6{
    padding: 9px 8px 6px ;
    background-color: #fddde4;
    color: #088178;
    border-radius: 4px;
    line-height: 1;
    display: inline-block;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#product1{
    text-align: center;
}

#product1 .pro{
    width: 23%;
    min-width: 250px ;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    transition: 0.2s ease;
    margin: 15px 0;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);

}

#product1 .pro .product-img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606060;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px ;

}

#product1 .pro .star i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 60px ;
    height: 60px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
}






/* Input page */
.input-button{
    color: #e8f6ea;
    background-color: #088178;


}

.input-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hidden{
    display: none;
}
.input-field button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .input-field button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #e8f6ea;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  .input-field button span:nth-child(6) {
    position: relative;

  }
  .input-field button:hover {
    color: black;
    
  }
  .input-field button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  .input-field button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  .input-field button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  .input-field button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  .input-field button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  .input-field button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
    
.R{
    background-color: #3ae1e1;
       
}
.k{
    background-color: #8bf3eb;
    font-size: large;
    font-weight: 100;
}
.input-field {
    background-color: #d0d3bf;
}


/* -------------------------------- 

File#: _1_details-list
Title: Details List
Descr: Pairs of related information displayed in a list
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --di3-color-primary-hsl: 250, 84%, 54%;
  --di3-color-bg-hsl: 0, 0%, 100%;
  --di3-color-contrast-high-hsl: 230, 7%, 23%;
  --di3-color-contrast-higher-hsl: 230, 13%, 9%;
  --di3-color-contrast-medium-hsl: 225, 4%, 47%;

  /* spacing */
  --di3-space-2xs: 0.375rem;
  --di3-space-md: 1.25rem;
  --di3-space-lg: 2rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --di3-space-2xs: 0.5625rem;
    --di3-space-md: 2rem;
    --di3-space-lg: 3.125rem;
  }
}

/* component */
:root {
  --details-list-border-width: 1px;
  --details-list-border-opacity: 0.15;
}

.details-list--rows .details-list__item {
  border-bottom: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
}
.details-list--rows .details-list__item:last-child {
  border-bottom: none;
}

.details-list--cols .details-list__item {
  border-right: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
}
.details-list--cols .details-list__item:last-child {
  border-right: none;
}

@media (min-width: 32rem) {
  .details-list--rows\@xs .details-list__item {
    border-right: 0;
    border-bottom: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
  }
  .details-list--rows\@xs .details-list__item:last-child {
    border-bottom: none;
  }

  .details-list--cols\@xs .details-list__item {
    border-bottom: 0;
    border-right: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
  }
  .details-list--cols\@xs .details-list__item:last-child {
    border-right: none;
  }
}
@media (min-width: 48rem) {
  .details-list--rows\@sm .details-list__item {
    border-right: 0;
    border-bottom: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
  }
  .details-list--rows\@sm .details-list__item:last-child {
    border-bottom: none;
  }

  .details-list--cols\@sm .details-list__item {
    border-bottom: 0;
    border-right: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
  }
  .details-list--cols\@sm .details-list__item:last-child {
    border-right: none;
  }
}
@media (min-width: 64rem) {
  .details-list--rows\@md .details-list__item {
    border-right: 0;
    border-bottom: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
  }
  .details-list--rows\@md .details-list__item:last-child {
    border-bottom: none;
  }

  .details-list--cols\@md .details-list__item {
    border-bottom: 0;
    border-right: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
  }
  .details-list--cols\@md .details-list__item:last-child {
    border-right: none;
  }
}
@media (min-width: 80rem) {
  .details-list--rows\@lg .details-list__item {
    border-right: 0;
    border-bottom: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
  }
  .details-list--rows\@lg .details-list__item:last-child {
    border-bottom: none;
  }

  .details-list--cols\@lg .details-list__item {
    border-bottom: 0;
    border-right: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
  }
  .details-list--cols\@lg .details-list__item:last-child {
    border-right: none;
  }
}
@media (min-width: 90rem) {
  .details-list--rows\@xl .details-list__item {
    border-right: 0;
    border-bottom: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
  }
  .details-list--rows\@xl .details-list__item:last-child {
    border-bottom: none;
  }

  .details-list--cols\@xl .details-list__item {
    border-bottom: 0;
    border-right: var(--details-list-border-width) solid hsla(var(--di3-color-contrast-higher-hsl), var(--details-list-border-opacity));
  }
  .details-list--cols\@xl .details-list__item:last-child {
    border-right: none;
  }
}

/* utility classes */
.di3-color-contrast-medium {
  --di3-color-o: 1;
  color: hsla(var(--di3-color-contrast-medium-hsl), var(--di3-color-o, 1));
}

.di3-line-height-md {
  line-height: 1.4;
}

.di3-margin-bottom-2xs {
  margin-bottom: var(--di3-space-2xs);
}

.di3-font-bold {
  font-weight: 700;
}

.di3-padding-y-md {
  padding-top: var(--di3-space-md);
  padding-bottom: var(--di3-space-md);
}

.di3-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.di3-grid > * {
  min-width: 0;
  grid-column-end: span 12;
}

.di3-margin-top-lg {
  margin-top: var(--di3-space-lg);
}

@media(min-width: 64rem){
  .di3-text-center\@md {
    text-align: center;
  }

  .di3-padding-x-md\@md {
    padding-left: var(--di3-space-md);
    padding-right: var(--di3-space-md);
  }

  .di3-text-right\@md {
    text-align: right;
  }

  .di3-margin-bottom-0\@md {
    margin-bottom: 0;
  }

  .di3-justify-between\@md {
    justify-content: space-between;
  }

  .di3-flex\@md {
    display: flex;
  }

  .di3-margin-top-0\@md {
    margin-top: 0;
  }

  .di3-col-4\@md {
    grid-column-end: span 4;
  }

  .di3-col-6\@md {
    grid-column-end: span 6;
  }

  .di3-col-2\@md {
    grid-column-end: span 2;
  }
}



/* -------------------------------- 

File#: _1_feature-v20
Title: Feature v20
Descr: A list of features with icons
Usage: codyhouse.co/license

-------------------------------- */

/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1.125rem; /* 18px */
  line-height: 1.4;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem; /* 40px */
}

h2 {
  font-size: 2.125rem; /* 34px */
}

h3 {
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.375rem; /* 22px */
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  -webkit-appearance: none;
          appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

/* -------------------------------- 

Icons 

-------------------------------- */

.cd-icon {
  --size: 1em;
  font-size: var(--size);
  height: 1em;
  width: 1em;
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.cd-icon--is-spinning { /* rotate the icon infinitely */
  animation: cd-icon-spin 1s infinite linear;
}

@keyframes cd-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cd-icon use { /* SVG symbols - enable icon color corrections */
  color: inherit;
  fill: currentColor;
}

/* --------------------------------

Component 

-------------------------------- */

.feature-v20 {
  position: relative;
  z-index: 1;
}

.feature-v20__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.feature-v20__list > * {
  min-width: 0;
}

.feature-v20__item {
  grid-column-end: span 12;
}

@media (min-width: 48rem) {
  .feature-v20__item {
    grid-column-end: span 6;
  }  
}

@media (min-width: 64rem) {
  .feature-v20__item {
    grid-column-end: span 3;
  }
}

.feature-v20__item-title {
  transition: color 0.3s;
}

.feature-v20__icon-wrapper {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.5rem;
  color: hsl(250, 84%, 54%); /* icon color */
  transition: color 0.3s;
}
.feature-v20__icon-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.05);
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.3s;
}

.feature-v20__icon {
  --size: 24px;
  z-index: 2;
}

.feature-v20__paragraph {
  color: hsl(240, 4%, 65%);
}

/* -------------------------------- 

Utilities 

-------------------------------- */

.cd-container {
  width: calc(100% - 3rem);
  margin-left: auto;
  margin-right: auto;
}

.cd-max-width-sm {
  max-width: 48rem;
}

.cd-max-width-adaptive-lg {
  max-width: 32rem;
}

@media (min-width: 48rem) {
  .cd-max-width-adaptive-lg {
    max-width: 48rem;
  }
}

@media (min-width: 64rem) {
  .cd-max-width-adaptive-lg {
    max-width: 64rem;
  }
}

@media (min-width: 80rem) {
  .cd-max-width-adaptive-lg {
    max-width: 80rem;
  }
}

.cd-padding-y-xl {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.cd-margin-bottom-xl {
  margin-bottom: 4.5rem;
}

.cd-margin-bottom-2xs {
  margin-bottom: 0.75rem;
}

.cd-text-center {
  text-align: center;
}



/* -------------------------------- 

File#: _1_stacking-cards
Title: Stacking Cards
Descr: Cards stack effect on vertical scrolling
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --sg0-color-primary-hsl: 250, 84%, 54%;
  --sg0-color-bg-hsl: 0, 0%, 100%;
  --sg0-color-contrast-high-hsl: 230, 7%, 23%;
  --sg0-color-contrast-higher-hsl: 230, 13%, 9%;
  --sg0-color-bg-light-hsl: 0, 0%, 100%;

  /* spacing */
  --sg0-space-sm: 0.75rem;
  --sg0-space-md: 1.25rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --sg0-space-sm: 1.125rem;
    --sg0-space-md: 2rem;
  }
}

/* component */
.stack-cards {
  --stack-cards-gap: var(--sg0-space-sm);
  --stack-cards-item-ratio: 2/1;
}

.stack-cards__item {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: var(--sg0-space-md);
  height: 0;
  padding-bottom: calc(100%/(var(--stack-cards-item-ratio)));
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.stack-cards__item > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* utility classes */
.sg0-overflow-hidden {
  overflow: hidden;
}

.sg0-shadow-md {
  box-shadow:0 0.9px 1.5px rgba(0, 0, 0, 0.03),0 3.1px 5.5px rgba(0, 0, 0, 0.08),0 14px 25px rgba(0, 0, 0, 0.12);
}

.sg0-radius-lg {
  border-radius: 0.5em;
}

.sg0-bg {
  --sg0-bg-o: 1;
  background-color: hsla(var(--sg0-color-bg-hsl), var(--sg0-bg-o, 1));
}

.sg0-flex-center {
  justify-content: center;
  align-items: center;
}

.sg0-flex {
  display: flex;
}

:where(.sg0-inner-glow) {
  position: relative;
}

.sg0-inner-glow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075);
}

.sg0-bg-light {
  --sg0-bg-o: 1;
  background-color: hsla(var(--sg0-color-bg-light-hsl), var(--sg0-bg-o, 1));
}


/* -------------------------------- 

File#: _2_testimonials
Title: Testimonials
Descr: A gallery of testimonial cards
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --ta0-color-primary-hsl: 250, 84%, 54%;
  --ta0-color-bg-hsl: 0, 0%, 100%;
  --ta0-color-contrast-high-hsl: 230, 7%, 23%;
  --ta0-color-contrast-higher-hsl: 230, 13%, 9%;
  --ta0-color-contrast-lower-hsl: 240, 4%, 85%;
  --ta0-color-contrast-low-hsl: 240, 4%, 65%;
  --ta0-color-contrast-medium-hsl: 225, 4%, 47%;

  /* spacing */
  --ta0-space-4xs: 0.125rem;
  --ta0-space-3xs: 0.25rem;
  --ta0-space-2xs: 0.375rem;
  --ta0-space-sm: 0.75rem;
  --ta0-space-md: 1.25rem;
  --ta0-space-lg: 2rem;

  /* typography */
  --ta0-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --ta0-space-4xs: 0.1875rem;
    --ta0-space-3xs: 0.375rem;
    --ta0-space-2xs: 0.5625rem;
    --ta0-space-sm: 1.125rem;
    --ta0-space-md: 2rem;
    --ta0-space-lg: 3.125rem;

    /* typography */
    --ta0-text-sm: 1rem;
  }
}

/* icons */
.ta0-icon {
  height: var(--ta0-size, 1em);
  width: var(--ta0-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.ta0-icon--xl {
  --ta0-size: 64px;
}

/* component */


/* utility classes */
.ta0-margin-top-4xs {
  margin-top: var(--ta0-space-4xs);
}

.ta0-color-contrast-medium {
  --ta0-color-o: 1;
  color: hsla(var(--ta0-color-contrast-medium-hsl), var(--ta0-color-o, 1));
}

.ta0-block {
  display: block;
}

.ta0-text-sm {
  font-size: var(--ta0-text-sm);
}

.ta0-border {
  --ta0-border-o: 1;
  border: var(--ta0-border-width, 1px) var(--ta0-border-style, solid) hsla(var(--ta0-color-contrast-lower-hsl), var(--ta0-border-o, 1));
}

.ta0-radius-50\% {
  border-radius: 50%;
}

.ta0-height-lg {
  height: 3rem;
}

.ta0-width-lg {
  width: 3rem;
}

.ta0-margin-bottom-3xs {
  margin-bottom: var(--ta0-space-3xs);
}

.ta0-flex-shrink-0 {
  flex-shrink: 0;
}

.ta0-items-center {
  align-items: center;
}

.ta0-flex-column {
  flex-direction: column;
}

.ta0-flex {
  display: flex;
}

.ta0-margin-bottom-md {
  margin-bottom: var(--ta0-space-md);
}

.ta0-line-height-md {
  line-height: 1.4;
}

.ta0-sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.ta0-margin-bottom-sm {
  margin-bottom: var(--ta0-space-sm);
}

.ta0-text-center {
  text-align: center;
}

.ta0-padding-md {
  padding: var(--ta0-space-md);
}

.ta0-radius-md {
  border-radius: 0.25em;
}

.ta0-bg-contrast-lower {
  --ta0-bg-o: 1;
  background-color: hsla(var(--ta0-color-contrast-lower-hsl), var(--ta0-bg-o, 1));
}

.ta0-gap-sm {
  gap: var(--ta0-space-sm);
}

.ta0-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.ta0-grid > * {
  min-width: 0;
  grid-column-end: span 12;
}

.ta0-margin-bottom-lg {
  margin-bottom: var(--ta0-space-lg);
}

.ta0-max-width-adaptive-lg {
  max-width: 32rem;
}

@media(min-width: 48rem) {
  .ta0-max-width-adaptive-lg {
    max-width: 48rem;
  }
}

@media(min-width: 64rem) {
  .ta0-max-width-adaptive-lg {
    max-width: 64rem;
  }
}

@media(min-width: 80rem) {
  .ta0-max-width-adaptive-lg {
    max-width: 80rem;
  }
}

.ta0-container {
  width: calc(100% - 2*var(--ta0-space-md));
  margin-left: auto;
  margin-right: auto;
}

.ta0-margin-right-2xs {
  margin-right: var(--ta0-space-2xs);
}

.ta0-flex-wrap {
  flex-wrap: wrap;
}

.ta0-margin-bottom-2xs {
  margin-bottom: var(--ta0-space-2xs);
}

.ta0-color-contrast-low {
  --ta0-color-o: 1;
  color: hsla(var(--ta0-color-contrast-low-hsl), var(--ta0-color-o, 1));
}

.ta0-margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.ta0-border-2 {
  --ta0-border-width: 2px;
}

.ta0-border-bg {
  --ta0-border-o: 1;
  border-color: hsla(var(--ta0-color-bg-hsl), var(--ta0-border-o, 1));
}

.ta0-bg-opacity-30\% {
  --ta0-bg-o: 0.3;
}

.ta0-bg-opacity-50\% {
  --ta0-bg-o: 0.5;
}

@media(min-width: 64rem){
  .ta0-margin-top-auto\@md {
    margin-top: auto;
  }

  .ta0-flex-column\@md {
    flex-direction: column;
  }

  .ta0-flex\@md {
    display: flex;
  }

  .ta0-col-4\@md {
    grid-column-end: span 4;
  }
}

/* -------------------------------- 

File#: _2_faq
Title: Frequent Questions
Descr: A ready-to-use template for your site FAQ section
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

  h2 {
    font-size: 2.44rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5625rem;
  }
}

/* utility classes */
.fu0-position-relative {
  position: relative;
}

.fu0-z-index-1 {
  z-index: 1;
}

.fu0-padding-y-lg {
  padding-top: var(--fu0-space-lg);
  padding-bottom: var(--fu0-space-lg);
}

.fu0-container {
  width: calc(100% - 2*var(--fu0-space-md));
  margin-left: auto;
  margin-right: auto;
}

.fu0-max-width-adaptive-md {
  max-width: 32rem;
}

@media(min-width: 48rem) {
  .fu0-max-width-adaptive-md {
    max-width: 48rem;
  }
}

@media(min-width: 64rem) {
  .fu0-max-width-adaptive-md {
    max-width: 64rem;
  }
}

.fu0-text-center {
  text-align: center;
}

.fu0-margin-bottom-lg {
  margin-bottom: var(--fu0-space-lg);
}

/* -------------------------------- 

File#: _1_table
Title: Table
Descr: Data tables used to organize and display information in rows and columns
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --tv5-color-primary-hsl: 250, 84%, 54%;
  --tv5-color-bg-hsl: 0, 0%, 100%;
  --tv5-color-contrast-high-hsl: 230, 7%, 23%;
  --tv5-color-contrast-higher-hsl: 230, 13%, 9%;
  --tv5-color-contrast-lower-hsl: 240, 4%, 85%;
  --tv5-color-bg-dark-hsl: 240, 4%, 95%;
  --tv5-color-bg-light-hsl: 0, 0%, 100%;
  --tv5-color-bg-lighter-hsl: 0, 0%, 100%;
  --tv5-color-white-hsl: 0, 0%, 100%;
  --tv5-color-black-hsl: 230, 13%, 9%;

  /* spacing */
  --tv5-space-sm: 0.75rem;
  --tv5-space-md: 1.25rem;
  --tv5-space-2xs: 0.375rem;

  /* typography */
  --tv5-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --tv5-space-sm: 1.125rem;
    --tv5-space-md: 2rem;
    --tv5-space-2xs: 0.5625rem;

    /* typography */
    --tv5-text-sm: 1rem;
  }
}

/* buttons */
.tv5-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  white-space: nowrap;
  text-decoration: none;
  background: hsl(var(--tv5-color-bg-dark-hsl));
  color: hsl(var(--tv5-color-contrast-higher-hsl));
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease;
  will-change: transform;
  padding: var(--tv5-space-2xs) var(--tv5-space-sm);
  border-radius: 0.25em;
}

.tv5-btn:focus-visible {
  box-shadow: 0px 0px 0px 2px hsl(var(--tv5-color-bg-hsl)), 0px 0px 0px 4px hsla(var(--tv5-color-contrast-higher-hsl), 0.15);
  outline: none;
}

.tv5-btn:active {
  transform: translateY(2px);
}

.tv5-btn--subtle {
  background: hsl(var(--tv5-color-bg-lighter-hsl));
  color: hsl(var(--tv5-color-contrast-higher-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--tv5-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--tv5-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--tv5-color-black-hsl), 0.2), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
}

.tv5-btn--subtle:hover {
  background: hsl(var(--tv5-color-bg-light-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--tv5-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--tv5-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--tv5-color-black-hsl), 0.2), 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12);
}

.tv5-btn--subtle:focus {
  box-shadow: inset 0px 1px 0px hsla(var(--tv5-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--tv5-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--tv5-color-black-hsl), 0.2), 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12), 0px 0px 0px 2px hsl(var(--tv5-color-bg-hsl)), 0px 0px 0px 4px hsl(var(--tv5-color-contrast-high-hsl));
}

/* icons */
.tv5-icon {
  height: var(--tv5-size, 1em);
  width: var(--tv5-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.tv5-icon--md {
  --tv5-size: 32px;
}

/* component */
.table {
  position: relative;
  z-index: 1;
}

.table:not(.table--expanded) {
  border-collapse: separate;
  border-spacing: 0 var(--tv5-space-md);
  margin-top: calc(-2 * var(--tv5-space-md));
}
.table:not(.table--expanded) .table__header {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}
.table:not(.table--expanded) .table__row .table__cell:first-child {
  border-radius: 0.25em 0.25em 0 0;
}
.table:not(.table--expanded) .table__row .table__cell:last-child {
  border-radius: 0 0 0.25em 0.25em;
}
.table:not(.table--expanded) .table__row .table__cell:last-child::after {
  display: none;
}
.table:not(.table--expanded) .table__cell {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: right;
  padding: var(--tv5-space-md);
  background-color: hsl(var(--tv5-color-bg-light-hsl));
}
.table:not(.table--expanded) .table__cell::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--tv5-space-md);
  width: calc(100% - 2 * var(--tv5-space-md));
  height: 1px;
  background-color: hsl(var(--tv5-color-contrast-lower-hsl));
}
.table:not(.table--expanded) .table__label {
  font-weight: bold;
  text-align: left;
  color: hsl(var(--tv5-color-contrast-higher-hsl));
  margin-right: var(--tv5-space-md);
}

.table--expanded {
  border-bottom: 1px solid hsl(var(--tv5-color-contrast-lower-hsl));
}
.table--expanded .table__header .table__cell {
  position: relative;
  z-index: 10;
  background-color: hsl(var(--tv5-color-bg-hsl));
  border-bottom: 1px solid hsl(var(--tv5-color-contrast-lower-hsl));
  font-weight: bold;
  color: hsl(var(--tv5-color-contrast-higher-hsl));
}
.table--expanded .table__body .table__row:nth-child(odd) {
  background-color: hsla(var(--tv5-color-bg-dark-hsl), 0.85);
}
.table--expanded .table__cell {
  padding: var(--tv5-space-sm);
}
.table--expanded .table__label {
  display: none;
}
.table--expanded .table__header--sticky .table__cell {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.table {
  opacity: 0;
}

.table--loaded {
  opacity: 1;
}

[class*=table--expanded]::before {
  display: none;
}

.table--expanded\@xs::before {
  content: "collapsed";
}
@media (min-width: 32rem) {
  .table--expanded\@xs::before {
    content: "expanded";
  }
}

.table--expanded\@sm::before {
  content: "collapsed";
}
@media (min-width: 48rem) {
  .table--expanded\@sm::before {
    content: "expanded";
  }
}

.table--expanded\@md::before {
  content: "collapsed";
}
@media (min-width: 64rem) {
  .table--expanded\@md::before {
    content: "expanded";
  }
}

.table--expanded\@lg::before {
  content: "collapsed";
}
@media (min-width: 80rem) {
  .table--expanded\@lg::before {
    content: "expanded";
  }
}

.table--expanded\@xl::before {
  content: "collapsed";
}
@media (min-width: 90rem) {
  .table--expanded\@xl::before {
    content: "expanded";
  }
}

/* utility classes */
.tv5-text-center {
  text-align: center;
}

.tv5-ws-nowrap {
  white-space: nowrap;
}

.tv5-text-left {
  text-align: left;
}

.tv5-text-sm {
  font-size: var(--tv5-text-sm);
}

.tv5-width-100\% {
  width: 100%;
}

.tv5-z-index-1 {
  z-index: 1;
}

.tv5-position-relative {
  position: relative;
}

.tv5-text-right {
  text-align: right;
}